h2 { 
 font-size:1.8em; 
 color: #000cb4;
}
slides > slide {
  color: #000000;
}
slides > slide.title-slide hgroup h1 {
  font-weight: bold;
  color: #000cb4;
}
slides > slide.title-slide hgroup h2 {
  color: black;
}
img[alt="minipic"] { 
  max-width: 10px; 
  display: block;
}